.wrapper {
    background-color: white;
    border-radius: 14px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.day-and-icon {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.temp-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
}