.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.degree {
    font-size: 7rem;
    margin: 0 ;
}

.day-and-time {
    display: flex;
    gap: 4px;
    font-size: 25px;
}

.time {
    color: rgba(165, 165, 165, 0.815);
}