.wrapper {
  margin-top: 4rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

@media screen and (max-width: 481px) {
  .wrapper {
    margin-top: 2rem;
  }
  .quick-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
}
