.flex-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 3.5rem;
    overflow: hidden;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
}
