.wrapper {
  margin-top: 4rem;
}

.wrapper img {
  width: 50px;
  height: auto;
}

.flex-wrapper {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
  
}
