.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forcast-type {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.forcast-type button {
    font-size: 1.5rem;
}

.forcast-type-active{
  text-decoration: underline;
}

.metric-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.metric-type button {
    font-size: 1rem;
    padding: 10px;
}

.selected {
    color: white;
    background-color: black !important;
    font-size: 1.2rem;
}
