.app-wrapper {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}

.app {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  border-radius: 40px;
}

@media screen and (max-width: 481px) {
  .app {
 
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 40px;
  }
}